<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    
    <link rel="stylesheet" href="./index.css">
    <script type="text" src="./server.js"></script>

    <script src="./index.js"></script>
    <body>
        <h1>Automatico</h1>
        <button onclick="autohabilitar();">Habilitar</button>
        <button onclick="autodeshabilitar();">deshabilitar</button>
        <br>
        <h1>Foco-1</h1>
        <button onclick="f1habilitar();" id="f1h">Habilitar</button>
        <button onclick="f1deshabilitar();" id="f1d">deshabilitar</button>
</body>
</html>