<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    
    <link rel="stylesheet" href="./index.css">
    <script type="text" src="./server.js"></script>

    <script src="./index.js"></script>
    <body>
        <h1>Automatic</h1>
        <button onclick="autohabilitar();">Enable</button>
        <button onclick="autodeshabilitar();">Disable</button>
        <br>
        <h1>LED-1</h1>
        <button onclick="f1habilitar();" id="f1h">Led-ON</button>
        <button onclick="f1deshabilitar();" id="f1d">Led-OFF</button>
</body>
</html>